<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes and Fitness Tips</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1> Home Page</h1>
    
    <div id="Navigation">
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/classes">Classes</a>
            
        </nav>
    </div>

    <div id = "Overview">
        <p> <strong>Cohesion Fitness (CF)</strong> is a small gym chain with 3 locations that generates roughly $1,000,000 per year. CF offers month-based memberships to customers: 1, 3, 6, or 12 months. 
            Each gym is set up similarly with a cardio area, a weights area, and multiple studios for classes. A wide range of exercise classes are offered in varying levels of difficulty to make CF a welcoming environment for all levels of fitness. 
            Classes are not included in membership. 
            The business currently has 1,000 membership-paying customers with an average of 300-500 at each location, and is expecting to grow. This database driven website will allow CF to track enrollment of Customers in Classes (up to 5,000 enrollments per day) and track growth of the business by looking at Memberships data.  
            The system should be able to record up to 2,000 memberships as Cohesion Fitness aims to double in growth this year.  CF will also use Trainers to Classes data to improve scheduling for employees and for members.</p> 
                
    </div>

    <section>

        <div>
            <table class="mainTable">
                <tr>
                    
                </tr>

                <tr>
                    <td> Table Name</td> 
                    <td> Description  </td>

                </tr>

                <tr>
                    <td>Customers</td>
                    <td> This entity stores information about each member in the gym.</td>
                </tr>

                <tr>
                    <td>Trainers</td>
                    <td> This entity stores information about each trainer in the gym including what level of class they teach.</td>
                </tr>

                <tr>
                    <td>Memberships</td>
                    <td> This entity stores information about each membership tier offered in the gym</td>
                </tr>

                <tr>
                    <td>Classes</td>
                    <td> This entity stores information about each class offered at the gym</td>
                </tr>



                <tr>
                    <td>Gyms</td>
                    <td> This entity stores information about each gym location that members have access to</td>
                </tr>

                <tr>
                    <td>Customer Classes</td>
                    <td> This intersection table keeps track of the classes each customer is signed up for </td>
                </tr>

            </table>
            <br>
            <br>
        
        </div>

    </section>


</body>
</html>






